<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layouts/layout"
        lang="ko">

<th:block layout:fragment="content">

    <!--@@@@@@@@@@@@@@@@@@여기서 부터 코딩을 하면 됩니다.@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <div style="width: 600px; margin: 100px auto;">
        <div class="post">
            <div class="post-thumbnail">
                <a th:href="@{/board/delete/(id=${board.id})}"><img src="/assets/images/delete.png"
                                                                    alt="Blog Featured Image"/> 글 삭제&nbsp; </a>
                <a th:href="@{/board/edit/{id}(id=${board.id})}"><img src="/assets/images/edit.png"
                                                                      alt="Blog Featured Image"/> 글 수정하기</a>
            </div>

            <div class="post-header font-alt">
                <h1 class="post-title" th:text="${board.id}"></h1>
                <div class="post-meta">Writer : <span>닉네임&nbsp;</span> Date : <span
                        th:text="${#temporals.format(board.modifiedAt, 'yyyy-MM-dd HH:mm')}"></span>
                </div>
            </div>
            <div class="post-entry">
                <p th:text="${board.content}"></p>

            </div>
        </div>


        <div class="comments" id="entireComment">

        </div>


        <!--@@@댓글은 여기서 코딩하면된다.-->
        <div class="comment-form">
            <h4 class="comment-form-title font-alt">댓글 작성란</h4>
            <form>
                <!--
               <div class="form-group">
                 <label class="sr-only" for="name">Name</label>
                 <input class="form-control" id="name" type="text" name="name" placeholder="Name"/>
               </div>
               <div class="form-group">
                 <label class="sr-only" for="email">Name</label>
                 <input class="form-control" id="email" type="text" name="email" placeholder="E-mail"/>
               </div>
               -->
                <div class="form-group">
                    <textarea class="form-control" id="comment" name="comment" rows="4"
                              placeholder="Comment"></textarea>
                </div>

            </form>
            <button class="btn btn-round btn-d" onclick="enrollComment()">Post comment</button>

        </div>
    </div>


</th:block>

<th:block layout:fragment="js">
    <script th:inline="javascript">
        /*<![CDATA[*/
        function enrollComment() {
            let cmt = $('#comment').val();
            let bid = /*[[${board.id}]]*/;

            console.log("check")
            console.log(bid)
            if (cmt == '') {
                alert("댓글을 입력해 주세요")
                return
            }

            $.ajax({
                type: "POST",
                url: '/comment/enroll',/*응답으로 comment 를 받아와야함*/
                dataType: "JSON",  //dataType: 서버에서 어떤 타입 받을 것인지
                contentType: "application/json",  //보내는 데이터의 타입
                data: JSON.stringify({
                    "content": cmt,
                    "boardId": bid
                }),

                success: function (response) {//응답 형식 : Comment 클래스 객체
                    alert("댓글 달기 성공");
                    let tempHtml = addComment(response)
                    $('#entireComment').append(tempHtml)

                }, error: function () {
                    alert('데이터 저장 실패');
                }
            })

        }

        /*]]>*/

        function addComment(comments) {
            let yearmonthday = comments.modifiedAt.substring(0, 10);
            let time = comments.modifiedAt.substring(11, 16);
            return `<div class="comment clearfix">
                    <div class="comment-avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/ryanbattles/128.jpg" alt="avatar"/></div>
                    <div class="comment-content clearfix">
                      <div class="comment-author font-alt" ><a href="#">작성자 </a></div>
                      <div class="comment-body">
                        <p>${comments.content}</p>
                      </div>
                      <div class="comment-meta font-alt">${yearmonthday} ${time}<a href="#"></a>
                      </div>
                    </div>`

        }


    </script>


</th:block>


</html>
