<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layouts/layout"
        lang="ko">

<th:block layout:fragment="content">
        <section class="module bg-dark-30 about-page-header" data-background="assets/images/about_bg.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt mb-0">Forms</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h4 class="font-alt mb-0">궁금증 질문하기</h4>
                <hr class="divider-w mt-10 mb-20">

                <form class="form" role="form" th:action="@{/board/new}" method="post" enctype="multipart/form-data">

                  <input type="file" name="myfile">
                  <textarea class="form-control" rows="7" placeholder="내용" name="content"></textarea>
                  <br>
                  <button type="submit">작성</button>
                </form>

              </div>
            </div>
          </div>
        </section>
</th:block>
</html>


