<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layouts/layout"
        lang="ko">

<th:block layout:fragment="content">

      <div class="main">
        <section class="module bg-dark-30" data-background="assets/images/section-4.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt mb-0">Login-Register</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row">

              <div class="col-sm-5">
                <h4 class="font-alt">회원가입</h4>
                <hr class="divider-w mb-10">
                <form class="form" action="/member/register" th:object="${memberFormDTO}" method="post">
                  <div class="form-group">
                    <input class="form-control" id="memMail" th:field="*{memMail}" oninput="checkEmail()" type="text" name="memMail" placeholder="이메일"
                     th:class="${#fields.hasErrors('memMail')}? 'form-control fieldError' : 'form-control'"/>
                    <p th:if="${#fields.hasErrors('memMail')}"
                       th:errors="*{memMail}">Incorrect data</p>

                  <span class="checkMessageF">이미 사용 중인 이메일 입니다.</span>
                  <span class="checkMessageT">사용 가능한 이메일 입니다.</span>
                  <span class="mailInfo">이메일 사용 가능 여부</span>
                  </div>

                  <div class="form-group">
                    <input class="form-control" id="memName" th:field="*{memName}" type="text" name="memName" placeholder="이름"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="memNickname" th:field="*{memNickname}" type="text" name="memNickname" placeholder="닉네임"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="memPwd" th:field="*{memPwd}" type="password" name="memPwd" placeholder="비밀번호"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="memPwdCheck" th:field="*{memPwdCheck}" oninput="pwdMatchingCheck()" type="password" name="memPwdCheck" placeholder="비밀번호확인"/>

                    <span class="pwd_wrong">비밀번호가 일치하지 않습니다.</span>
                    <span class="pwd_correct">비밀번호 일치</span>
                  </div>

                  <div class="form-group">
                    <button class="btn btn-block btn-round btn-b" type="submit" onclick="pwdDoubleCheck()">가입하기</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">About Titan</h5>
                  <p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
                  <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10
                  <p>Email:<a href="#">somecompany@example.com</a></p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Recent Comments</h5>
                  <ul class="icon-list">
                    <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                    <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                    <li>Andy on <a href="#">Eco bag Mockup</a></li>
                    <li>Jack on <a href="#">Bottle Mockup</a></li>
                    <li>Mark on <a href="#">Our trip to the Alps</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Blog Categories</h5>
                  <ul class="icon-list">
                    <li><a href="#">Photography - 7</a></li>
                    <li><a href="#">Web Design - 3</a></li>
                    <li><a href="#">Illustration - 12</a></li>
                    <li><a href="#">Marketing - 1</a></li>
                    <li><a href="#">Wordpress - 16</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Popular Posts</h5>
                  <ul class="widget-posts">
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="#"><img src="/assets/images/rp-1.jpg" alt="Post Thumbnail"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                        <div class="widget-posts-meta">23 january</div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="#"><img src="/assets/images/rp-2.jpg" alt="Post Thumbnail"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                        <div class="widget-posts-meta">15 February</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider-d">

      </div>
</th:block>

<th:block layout:fragment="js">
  <script type="text/javascript">

    function pwdMatchingCheck() {
      var pwd = document.getElementById('memPwd').value;
      var pwdCheck = document.getElementById('memPwdCheck').value;

      if(pwd != pwdCheck){
        $(".pwd_wrong").css("display", "inline-block");
        $(".pwd_correct").css("display", "none");
      }else{
        $(".pwd_correct").css("display", "inline-block");
        $(".pwd_wrong").css("display", "none");
      }
    }

    function pwdDoubleCheck() {
      var pwd = document.getElementById('memPwd').value;
      var pwdCheck = document.getElementById('memPwdCheck').value;
      if(pwd != pwdCheck){
        alert("비밀번호와 비밀번호확인이 일치하지 않습니다");
        $('#memPwdCheck').val('');
        event.preventDefault();

      }
    }

  </script>

  <script>
    function checkEmail() {
      const memMail = $("#memMail").val();
      //alert("중복확인~");
      $.ajax({
        url:'/mailcheck',
        type:'post',
        data:{memMail:memMail}, //http 요청 바디에 담길 내용
        //contentType:'application/json', //보내는 형식
        success:function (data){ //컨트롤러에서 넘어온 값 받아서
          //alert(data);
          if(data == "T"){
            $(".checkMessageT").css("display", "inline-block");
            $(".checkMessageF").css("display", "none");
            $(".mailInfo").css("display", "none");
          }else{
            $(".checkMessageF").css("display", "inline-block");
            $(".checkMessageT").css("display", "none");
            $(".mailInfo").css("display", "none");
            alert("이메일을 다시 입력해주세요");
            $('#memMail').val('');
          }
        },
        error: function () {
          alert("에러");
        },

      });
    };
  </script>

</th:block>
<th:block layout:fragment="css">
  <style>
    .checkMessageF {
      color: red;
      display: none;

    }
    .checkMessageT {
      color: darkblue;
      display: none;

    }
  </style>
  <style>
    .pwd_wrong {
      color: red;
      display: none;

    }
    .pwd_correct {
      color: darkblue;
      display: none;

    }
  </style>
</th:block>




</html>