<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footerFragment">
<div class="module-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">About WIYA</h5>
                    <p>Wait In your Area. <br>동물병원 원격 줄서기 서비스<br>반려동물 정보마당<br>반려동물 용품 중고장터</p>
                    <p>Github:<a href="https://github.com/WIYA-waitinyourarea/wiya">github.com/WIYA-waitinyourarea/wiya</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">팀원</h5>
                    <ul class="icon-list">
                        <li>채영:<a href="https://github.com/chaeyeong222">github.com/chaeyeong222</a></li>
                        <li>세강:<a href="https://github.com/Full-squat">github.com/Full-squat</a></li>
                        <li>경환:<a href="https://github.com/dooboocookie">github.com/dooboocookie</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">Thanks To</h5>
                    <ul class="icon-list">
                        <li><a href="https://www.instagram.com/gc_fly_earth/?hl=ko">비행지구</a></li>
                        <li><a href="https://www.inflearn.com/users/@yh">김영한님</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">도움 준 동물들</h5>
                    <ul class="widget-posts">
                        <li class="clearfix">
                            <div class="widget-posts-image"><img src="/images/footer/mongsil.png" alt="Post Thumbnail"/></div>
                            <div class="widget-posts-body">
                                <div class="widget-posts-title">몽실</div>
                                <div class="widget-posts-meta"></div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="widget-posts-image"><img src="/images/footer/ddalgi.jpeg" alt="Post Thumbnail"/></div>
                            <div class="widget-posts-body">
                                <div class="widget-posts-title">딸기</div>
                                <div class="widget-posts-meta"></div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="widget-posts-image"><img src="/images/footer/dooboo.jpeg" alt="Post Thumbnail"/></div>
                            <div class="widget-posts-body">
                                <div class="widget-posts-title">두부</div>
                                <div class="widget-posts-meta"></div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="widget-posts-image"><img src="/images/footer/cookie.jpeg" alt="Post Thumbnail"/></div>
                            <div class="widget-posts-body">
                                <div class="widget-posts-title">쿠키</div>
                                <div class="widget-posts-meta"></div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="divider-d">
<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright font-alt"><a th:href="@{/}">WIYA</a></p>
            </div>
            <div class="col-sm-6">
                <div class="footer-social-links">
                    <a href="https://github.com/WIYA-waitinyourarea/wiya">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
</th:block>
</html>
