<!DOCTYPE html>
<html dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="headerFragment">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="WIYA">
    <meta property="og:image" content="/images/logo/WIYA.png">
    <meta property="og:url" content="wiya.oline">
    <meta property="og:description" content="동물병원 원격 줄서기 서비스<br>반려동물 정보마당, 반려동물 용품 중고장터">

    <!--csrf token
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
     -->

    <!--
    Document Title
    =============================================
    -->
    <title>WIYA|Wait In Your Area</title>

    <!--
    Stylesheets
    =============================================
    -->
    <!-- Default stylesheets-->
    <link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/assets/lib/bootstrap/dist/css/bootstrap.min.css}">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="assets/lib/animate.css/animate.css" rel="stylesheet" th:href="@{/assets/lib/animate.css/animate.css}">
    <link href="assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" th:href="@{/assets/lib/components-font-awesome/css/font-awesome.min.css}">
    <link href="assets/lib/et-line-font/et-line-font.css" rel="stylesheet" th:href="@{/assets/lib/et-line-font/et-line-font.css}">
    <link href="assets/lib/flexslider/flexslider.css" rel="stylesheet" th:href="@{/assets/lib/flexslider/flexslider.css}">
    <link href="assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet" th:href="@{/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css}">
    <link href="assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet" th:href="@{/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css}">
    <link href="assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet" th:href="@{/assets/lib/magnific-popup/dist/magnific-popup.css}">
    <link href="assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet" th:href="@{/assets/lib/simple-text-rotator/simpletextrotator.css}">
    <!-- Main stylesheet and color file-->

    <link href="assets/css/style.css" rel="stylesheet" th:href="@{/assets/css/style.css}">

    <!--    <link href="assets/css/style.css" rel="stylesheet">-->
    <link id="color-scheme" href="assets/css/colors/default.css" rel="stylesheet" th:href="@{/assets/css/colors/default.css}">


    <th:block layout:fragment="css"></th:block>

</head>