<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="jsFragment">
    <!--
    JavaScripts
    =============================================
    -->
    <script src="assets/lib/jquery/dist/jquery.js" th:src="@{/assets/lib/jquery/dist/jquery.js}"> </script>
    <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js" th:src="@{/assets/lib/bootstrap/dist/js/bootstrap.min.js}"> </script>
    <script src="assets/lib/wow/dist/wow.js" th:src="@{/assets/lib/wow/dist/wow.js}"> </script>
    <script src="assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js" th:src="@{/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js}"> </script>
    <script src="assets/lib/isotope/dist/isotope.pkgd.js" th:src="@{/assets/lib/isotope/dist/isotope.pkgd.js}"> </script>
    <script src="assets/lib/imagesloaded/imagesloaded.pkgd.js" th:src="@{/assets/lib/imagesloaded/imagesloaded.pkgd.js}"> </script>
    <script src="assets/lib/flexslider/jquery.flexslider.js" th:src="@{/assets/lib/flexslider/jquery.flexslider.js}"> </script>
    <script src="assets/lib/owl.carousel/dist/owl.carousel.min.js" th:src="@{/assets/lib/owl.carousel/dist/owl.carousel.min.js}"> </script>
    <script src="assets/lib/smoothscroll.js" th:src="@{/assets/lib/smoothscroll.js}"> </script>
    <script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js" th:src="@{/assets/lib/magnific-popup/dist/jquery.magnific-popup.js}"> </script>
    <script src="assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js" th:src="@{/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js}"> </script>
    <script src="assets/js/plugins.js" th:src="@{/assets/js/plugins.js}"> </script>
    <script src="assets/js/main.js" th:src="@{/assets/js/main.js}"> </script>

</th:block>
</html>