<!DOCTYPE html>
<html dir="ltr"
      xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" th:fragment="navFragment">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand"   th:href="@{/}">Wiya</a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="" th:href="@{/hospital/list}">병원 찾기</a></li>
                <li class="dropdown"><a class="" th:href="@{/board/list}">커뮤니티</a></li>
                <li class="dropdown"><a class="" th:href="@{/market/list}">마켓</a></li>
                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">About</a>
                    <ul class="dropdown-menu">
                        <li><a href="">위야 소개</a></li>
                        <li><a href="">프로젝트 소개</a></li>
                        <li><a th:href="@{https://github.com/WIYA-waitinyourarea/wiya}">GitHub</a></li>
                    </ul>
                </li>
                <th:block th:if="${session.loginMember == null}">
                    <li class="dropdown"><a class="" th:href="@{/member/login}">로그인</a></li>
                    <li class="dropdown"><a class="" th:href="@{/member/register}">회원가입</a></li>
                </th:block>
                <th:block th:unless="${session.loginMember == null}">
                    <li class="dropdown"><a class="" th:text="|${session.loginMember.memNickname} 님|">회원님</a></li>
                    <form name="logout" th:action="@{/member/logout}" th:method="post"></form>
                    <li class="dropdown"><a href="#" onclick="javascript:document.logout.submit();">로그아웃</a></li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>
</html>