<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layouts/layout"
        lang="ko">


<th:block layout:fragment="content">

    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mb-sm-40">
                    <th:block th:each="hosImg,i:${hospital.hosImgs}">
                        <th:block th:if="${i.index} == 0">
                            <a class="gallery" th:href="${hosImg.himPath}">
                                <img th:src="${hosImg.himPath}"/>
                            </a>
                        </th:block>
                    </th:block>
                    <ul class="product-gallery">
                    <th:block th:each="hosImg,i:${hospital.hosImgs}">
                        <th:block th:if="${i.index} > 0">
                            <li><a class="gallery" th:href="${hosImg.himPath}"></a><img th:src="${hosImg.himPath}"/></li>
                        </th:block>
                    </th:block>
                    </ul>
<!--                    <a class="gallery" href="/assets/images/shop/product-7.jpg">
                        <th:block th:each="hosImg:${hospital.hosImgs}" >
                            <img th:src="${hosImg.himPath}"/>
                        </th:block>
                    </a>
                    <ul class="product-gallery">
                        <li><a class="gallery" href="/assets/images/shop/product-8.jpg"></a><img src="assets/images/shop/product-8.jpg" alt="Single Product"/></li>
                        <li><a class="gallery" href="/assets/images/shop/product-9.jpg"></a><img src="assets/images/shop/product-9.jpg" alt="Single Product"/></li>
                        <li><a class="gallery" href="/assets/images/shop/product-10.jpg"></a><img src="assets/images/shop/product-10.jpg" alt="Single Product"/></li>
                    </ul>-->
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="product-title font-alt" th:text="${hospital.hosName}">병원이름</h1>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <!-- 별점 등록해야함 -->
                            <span><i class="fa fa-star star"></i></span>
                            <span><i class="fa fa-star star"></i></span>
                            <span><i class="fa fa-star star"></i></span>
                            <span><i class="fa fa-star star"></i></span>
                            <span><i class="fa fa-star star-off"></i></span>
                            <a class="open-tab section-scroll" href="#reviews">4.5</a>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <div class="price font-alt"><span class="amount" th:text="${hospital.hosAddress.jibunAddress}">병원 주소</span></div>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <div class="description">
                                <p th:text="${hospital.hosPhone}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-sm-8"><a class="btn btn-lg btn-block btn-round btn-b" onclick="bookingRegs()">줄서기</a></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <hr class="divider-w">
    <section class="module-small">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">근처 병원</h2>
                </div>
            </div>
            <div class="row multi-columns-row">
<!--                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image"><img src="assets/images/shop/product-11.jpg" alt="Accessories Pack"/>
                            <div class="shop-item-detail"><a class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="#">Accessories Pack</a></h4>£9.00
                    </div>
                </div>-->

            </div>
        </div>
    </section>
    <hr class="divider-w">
<!--    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Exclusive products</h2>
                    <div class="module-subtitle font-serif">The languages only differ in their grammar, their pronunciation and their most common words.</div>
                </div>
            </div>
            <div class="row">
                <div class="owl-carousel text-center" data-items="5" data-pagination="false" data-navigation="false">
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product"><a href="#"><img src="assets/images/shop/product-1.jpg" alt="Leather belt"/></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£12.00
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product"><a href="#"><img src="assets/images/shop/product-3.jpg" alt="Derby shoes"/></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Derby shoes</a></h4>£54.00
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product"><a href="#"><img src="assets/images/shop/product-2.jpg" alt="Leather belt"/></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£19.00
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product"><a href="#"><img src="assets/images/shop/product-4.jpg" alt="Leather belt"/></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£14.00
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product"><a href="#"><img src="assets/images/shop/product-5.jpg" alt="Chelsea boots"/></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Chelsea boots</a></h4>£44.00
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product"><a href="#"><img src="assets/images/shop/product-6.jpg" alt="Leather belt"/></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£19.00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
</th:block>


<th:block layout:fragment="js">
    <script type="text/javascript">
        /**예약하기 버튼을 누르면 부킹 테이블에 저장되는 에이젝스*/
        var bookingRegs = function () {
            $.ajax({
                url: "/hospital/booking",
                type : "POST",
                data : '{"memId" : 1, "hosId" : 57}',
                contentType: 'application/json; charset=utf-8',
                /*dataType : 인텔리전트 게스 테스트 끝나면 제이슨으로 바꿀 예정,*/
                success: function(data) {
                    alert(data);
                    $("#content").html(data);
                },
                error: function(){
                    alert("해당 병원은 줄서기를 할 수 없습니다.")
                }
            })
        }

    </script>
    <script type="text/javascript">
        /** 대기 인원 새로고침 */

    </script>
</th:block>

</html>