<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layouts/layout"
        lang="ko">
<th:block layout:fragment="content">
    <div class="container">

        <!--검색 영역-->
        <div style="padding: 20px 0px">
            <form th:action th:object="${hospitalSearchRequestDTO}" method="get" class="mb-sm-20">
                <div class="col-sm-4 search-box">
                    <input class="form-control" type="text" th:field="*{keyword}" placeholder="Search...">
                </div>
                <div class="col-sm-2 mb-sm-20">
                    <select class="form-control" th:field="*{sido}">
                        <option value = '0'>시/도</option>
                    </select>
                </div>
                <div class="col-sm-2 mb-sm-20">
                    <select class="form-control" th:field="*{sigungu}">
                        <option value = '0'>시/군/구</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-block btn-round btn-g" type="submit">Apply</button>
                </div>
            </form>
        </div>

        <!--searchResult-->
        <div class="widget" style="padding: 50px; width: 25%; display:inline-block; float: left" >
            <h5 class="widget-title font-alt">검색 결과</h5>
            <ul class="widget-posts">
                <li class="clearfix" th:each="hospital : ${result.searchResult}">
                    <a th:href="@{/hospital/detail/{hosId}(hosId=${hospital.hosId})}">
                    <div class="widget-posts-image" th:with="hosimgs=${hospital.hosImgs}">
                        <img th:src="${!#lists.isEmpty(hosimgs)} ? ${hosimgs[0].himPath} : '/default_image.webp'"
                             onerror="this.src='/default_image.webp'" alt="Post Thumbnail"/>
                        <!--<span th:text="${hosimgs[0].himPath} ? ${hosimgs[0].himPath} : '데이터가 없습니다.'"></span>-->
                    </div>
                    <div class="widget-posts-body">
                        <div class="widget-posts-title" th:text="${hospital.hosName}">병원 이름</div>
                        <div class="widget-posts-meta" th:text="${hospital.hosPhone}">여기엔 뭘 넣지</div>
                    </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--map-->
        <div style="padding: 50px; width:65%; display: inline-block">
            <div id="map" style="width:700px; height:700px;"></div>
        </div>

        <!--paging-->
        <div class="pagination font-alt">
            <a href="#"><i class="fa fa-angle-left"></i></a>
            <a th:each="page : ${pages}"
               th:href="@{${#request.requestURI}(keyword=${param.keyword}, sido=${param.sido}?:0,sigungu=${param.sigungu}?:0,page=${page})}"
               th:text="${page}">no</a>
            <a href="#"><i class="fa fa-angle-right"></i></a>
        </div>

    </div> <!-- /container -->
</th:block>

<!--Js-->
<th:block layout:fragment="js">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9e9609355eae48fe68cf95a6a3f745d5"></script>
    <script th:inline="javascript">
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(37.33, 126.59),
            level: 14
        };

        var map = new kakao.maps.Map(container, options);

        var icon = new kakao.maps.MarkerImage(
            'https://cdn-icons-png.flaticon.com/512/3448/3448513.png',
            new kakao.maps.Size(34, 35),
            {
                offset: new kakao.maps.Point(17, 34),
                alt: "병원 마커 이미지",
                shape: "poly",
                coords: "1,20,1,9,5,2,10,0,21,0,27,3,30,9,30,20,17,33,14,33"
            }
        );

        [# th:each="hospital, hospitalStat : ${result.searchResult}"]
        new kakao.maps.Marker({
            position: new kakao.maps.LatLng([[${hospital.hosAddress.y}]], [[${hospital.hosAddress.x}]]),
            image: icon
        }).setMap(map);
        [/]
    </script>
    <script th:inline="javascript">

        //첫번째 셀렉트 태그 뿌리는 반복문
        var sido = document.getElementById("sido");
        var sigungu = document.getElementById("sigungu");
        var selectSido = `<option value = '0'>시/도</option>`;
        var sigunguArray = [];
        [# th:each="sido, sidoStat: ${sidos}"]
            selectSido += "<option value="+[[${sido.sigudongId}]]+">" +[[${sido.sigudongName}]] + "</option>";
            var sigungu[[${sidoStat.index}]]  = `<option value = '0'>시/군/구</option>`;
            [# th:each="sigungu : ${sido.child}"]
                sigungu[[${sidoStat.index}]]  += "<option  value="+[[${sigungu.sigudongId}]]+">" +[[${sigungu.sigudongName}]] + "</option>";
            [/]
            sigunguArray.push(sigungu[[${sidoStat.index}]]);
        [/]
        sido.innerHTML = selectSido;

        //두번쨰 셀렉트 태그 뿌리는 반복문
        sido.onchange = function () {
            sigungu.innerHTML = sigunguArray[this.selectedIndex-1];
            if (this.selectedIndex - 1 == -1) {
                sigungu.innerHTML = "<option selected=\"selected\" value='0'>시/군/구</option>";
            }
        }
        //상태 유지
        [# th:if="${param.sido}!=0 and ${param.sido}!=null"]
            $("#sido option[value="+[[${param.sido}]]+"]").attr("selected", true);
            sigungu.innerHTML = sigunguArray[sido.selectedIndex-1];
            [# th:if="${param.sigungu}!=0 and ${param.sigungu}!=null"]
                $("#sigungu option[value="+[[${param.sigungu}]]+"]").attr("selected", true);
            [/]
        [/]
    </script>

</th:block>
</html>
