<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layouts/layout"
        lang="ko">

<th:block layout:fragment="content">

  <div class="main">

    <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="assets/images/testimonial_bg.jpg">
      <div class="testimonials-slider pt-140 pb-140">
        <ul class="slides">
          <li>
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="module-icon"><span class="icon-quote"></span></div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <blockquote class="testimonial-text font-alt">못하는 건 없다.</blockquote>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                  <div class="testimonial-author">
                    <div class="testimonial-caption font-alt">
                      <div class="testimonial-title">함세강</div>
                      <div class="testimonial-descr">몽실이 아빠</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="module-icon"><span class="icon-quote"></span></div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <blockquote class="testimonial-text font-alt">아자아자 홧팅이다!</blockquote>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                  <div class="testimonial-author">
                    <div class="testimonial-caption font-alt">
                      <div class="testimonial-title">해쭈</div>
                      <div class="testimonial-descr">세사미 언니</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="module">
      <div class="container">
        <div class="row multi-columns-row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <a th:href="@{/hospital/list}">
              <div class="features-icon"><span class="icon-lightbulb"></span></div>
              <h3 class="features-title font-alt">동물병원 줄서기</h3>가까운 동물병원을 찾고, 원격 대기 등록
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <a th:href="@{/board/list}">
              <div class="features-icon"><span class="icon-tools"></span></div>
              <h3 class="features-title font-alt">정보마당</h3>반려동물 커뮤니티, 궁금한 것 묻고 답하기
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <a th:href="@{/market/list}">
              <div class="features-icon"><span class="icon-tools-2"></span></div>
              <h3 class="features-title font-alt">중고장터</h3>반려동물 용품 거래, 나눔
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-lifesaver"></span></div>
              <h3 class="features-title font-alt">공백</h3>공백입니다
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="module pt-0 pb-0" id="about">
      <div class="row position-relative m-0">
        <div class="col-xs-12 col-md-6 side-image" data-background="/images/logo/WIYA.png"></div>
        <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="module-title font-alt align-left">About Us</h2>
              <div class="module-subtitle font-serif align-left">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
              <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.</p>
              <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>

</th:block>

<th:block layout:fragment="js">
  <!--원하는 js 추가 작업-->
</th:block>
<th:block layout:fragment="css">
  <!--원하는 css 추가 작업-->
</th:block>
