  <html
          xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="layouts/layout"
          lang="ko">

            <th:block layout:fragment="content">

              <div class="col-sm-5">
                <h4 class="font-alt">회원가입</h4>
                <hr class="divider-w mb-10">
                <form class="form" action="/member/registerRequest" method="post">
                  <div class="form-group">
                    <input class="form-control" id="memMail" type="text" name="memMail" placeholder="이메일"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="memName" type="text" name="memName" placeholder="이름"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="memNickname" type="text" name="memNickname" placeholder="닉네임"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="memPwd" type="password" name="memPwd" placeholder="비밀번호"/>
                  </div>
                  <!--
                  <div class="form-group">
                    <input class="form-control" id="re-memPwd" type="password" name="re-memPwd" placeholder="비밀번호확인"/>
                  </div>
                  -->
                  <div class="form-group">
                    <button class="btn btn-block btn-round btn-b" type="submit">가입하기</button>
                  </div>
                </form>
              </div>
            </div>

            </th:block>

              <th:block layout:fragment="js">
                <!--원하는 js 추가 작업-->
              </th:block>
              <th:block layout:fragment="css">
                <!--원하는 css 추가 작업-->
              </th:block>

  </html>