<html lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  Document Title
  =============================================
  -->
  <title>Titan | Multipurpose HTML5 Template</title>
  <!--
  Favicons
  =============================================
  -->
  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png" th:href="@{/assets/images/favicons/apple-icon-57x57.png}">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png" th:href="@{/assets/images/favicons/apple-icon-60x60.png}">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png" th:href="@{/assets/images/favicons/apple-icon-72x72.png}">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png" th:href="@{/assets/images/favicons/apple-icon-76x76.png}">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png" th:href="@{/assets/images/favicons/apple-icon-114x114.png}">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png" th:href="@{/assets/images/favicons/apple-icon-120x120.png}">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png" th:href="@{/assets/images/favicons/apple-icon-144x144.png}">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png" th:href="@{/assets/images/favicons/apple-icon-152x152.png}">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png" th:href="@{/assets/images/favicons/apple-icon-180x180.png}">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png" th:href="@{/assets/images/favicons/android-icon-192x192.png}">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png" th:href="@{/assets/images/favicons/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png" th:href="@{/assets/images/favicons/favicon-96x96.png}">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png" th:href="@{/assets/images/favicons/favicon-16x16.png}">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png" th:href="@{/assets/images/favicons/ms-icon-144x144.png}">
  <meta name="theme-color" content="#ffffff">
  <!--
  Stylesheets
  =============================================

  -->
  <!-- Default stylesheets-->
  <link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/assets/lib/bootstrap/dist/css/bootstrap.min.css}">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="assets/lib/animate.css/animate.css" rel="stylesheet" th:href="@{/assets/lib/animate.css/animate.css}">
  <link href="assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" th:href="@{/assets/lib/components-font-awesome/css/font-awesome.min.css}">
  <link href="assets/lib/et-line-font/et-line-font.css" rel="stylesheet" th:href="@{/assets/lib/et-line-font/et-line-font.css}">
  <link href="assets/lib/flexslider/flexslider.css" rel="stylesheet" th:href="@{/assets/lib/flexslider/flexslider.css}">
  <link href="assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet" th:href="@{/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css}">
  <link href="assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet" th:href="@{/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css}">
  <link href="assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet" th:href="@{/assets/lib/magnific-popup/dist/magnific-popup.css}">
  <link href="assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet" th:href="@{/assets/lib/simple-text-rotator/simpletextrotator.css}">
  <!-- Main stylesheet and color file-->

  <link href="assets/css/style.css" rel="stylesheet" th:href="@{/assets/css/style.css}">

  <!--    <link href="assets/css/style.css" rel="stylesheet">-->
  <link id="color-scheme" href="assets/css/colors/default.css" rel="stylesheet" th:href="@{/assets/css/colors/default.css}">



</head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index.html">Titan</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Home</a>
                <ul class="dropdown-menu">
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_mp_fullscreen_video_background.html">Default</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_op_fullscreen_gradient_overlay.html">One Page</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_agency.html">Agency</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_portfolio.html">Portfolio</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_restaurant.html">Restaurant</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_finance.html">Finance</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_landing.html">Landing Page</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_photography.html">Photography</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_shop.html">Shop</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Headers</a>
                <ul class="dropdown-menu">
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Static Image Header</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_mp_fullscreen_static.html">Fulscreen</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_mp_classic_static.html">Classic</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Flexslider Header</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_mp_fullscreen_flexslider.html">Fulscreen</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_mp_classic_flexslider.html">Classic</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Video Background Header</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_mp_fullscreen_video_background.html">Fulscreen</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_mp_classic_video_background.html">Classic</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Text Rotator Header</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_mp_fullscreen_text_rotator.html">Fulscreen</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_mp_classic_text_rotator.html">Classic</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Gradient Overlay Header</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_mp_fullscreen_gradient_overlay.html">Fulscreen</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index_mp_classic_gradient_overlay.html">Classic</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Pages</a>
                <ul class="dropdown-menu">
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">About</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/about1.html">About 1</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/about2.html">About 2</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/about3.html">About 3</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/about4.html">About 4</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/about5.html">About 5</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Services</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/service1.html">Service 1</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/service2.html">Service 2</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/service3.html">Service 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Pricing</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/pricing1.html">Pricing 1</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/pricing2.html">Pricing 2</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Gallery</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/gallery_col_2.html">2 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/gallery_col_3.html">3 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/gallery_col_4.html">4 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/gallery_col_6.html">6 Columns</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Contact</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/contact1.html">Contact 1</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/contact2.html">Contact 2</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/contact3.html">Contact 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Restaurant menu</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/restaurant_menu1.html">Menu 2 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/restaurant_menu2.html">Menu 3 Columns</a></li>
                    </ul>
                  </li>
                  <li><a href="login.html">Login / Register</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/faq.html">FAQ</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/404.html">Page 404</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Portfolio</a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Boxed</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_boxed_col_2.html">2 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_boxed_col_3.html">3 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_boxed_col_4.html">4 Columns</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Boxed - Gutter</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_boxed_gutter_col_2.html">2 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_boxed_gutter_col_3.html">3 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_boxed_gutter_col_4.html">4 Columns</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Full Width</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_full_width_col_2.html">2 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_full_width_col_3.html">3 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_full_width_col_4.html">4 Columns</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Full Width - Gutter</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_full_width_gutter_col_2.html">2 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_full_width_gutter_col_3.html">3 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_full_width_gutter_col_4.html">4 Columns</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Masonry</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Boxed</a>
                        <ul class="dropdown-menu">
                          <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_masonry_boxed_col_2.html">2 Columns</a></li>
                          <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_masonry_boxed_col_3.html">3 Columns</a></li>
                          <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_masonry_boxed_col_4.html">4 Columns</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Full Width</a>
                        <ul class="dropdown-menu">
                          <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_masonry_full_width_col_2.html">2 Columns</a></li>
                          <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_masonry_full_width_col_3.html">3 Columns</a></li>
                          <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_masonry_full_width_col_4.html">4 Columns</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Hover Style</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_hover_black.html">Black</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_hover_gradient.html">Gradient</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Single</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Featured Image</a>
                        <ul class="dropdown-menu">
                          <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_single_featured_image1.html">Style 1</a></li>
                          <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_single_featured_image2.html">Style 2</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Featured Slider</a>
                        <ul class="dropdown-menu">
                          <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_single_featured_slider1.html">Style 1</a></li>
                          <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_single_featured_slider2.html">Style 2</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Featured Video</a>
                        <ul class="dropdown-menu">
                          <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_single_featured_video1.html">Style 1</a></li>
                          <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/portfolio_single_featured_video2.html">Style 2</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Blog</a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Standard</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/blog_standard_left_sidebar.html">Left Sidebar</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/blog_standard_right_sidebar.html">Right Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Grid</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/blog_grid_col_2.html">2 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/blog_grid_col_3.html">3 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/blog_grid_col_4.html">4 Columns</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Masonry</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/blog_grid_masonry_col_2.html">2 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/blog_grid_masonry_col_3.html">3 Columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/blog_grid_masonry_col_4.html">4 Columns</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Single</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/blog_single_left_sidebar.html">Left Sidebar</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/blog_single_right_sidebar.html">Right Sidebar</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Features</a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/alerts-and-wells.html"><i class="fa fa-bolt"></i> Alerts and Wells</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/buttons.html"><i class="fa fa-link fa-sm"></i> Buttons</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/tabs_and_accordions.html"><i class="fa fa-tasks"></i> Tabs &amp; Accordions</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/content_box.html"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/icons.html"><i class="fa fa-star"></i> Icons</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/progress-bars.html"><i class="fa fa-server"></i> Progress Bars</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/typography.html"><i class="fa fa-font"></i> Typography</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Shop</a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Product</a>
                    <ul class="dropdown-menu">
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/shop_product_col_3.html">3 columns</a></li>
                      <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/shop_product_col_4.html">4 columns</a></li>
                    </ul>
                  </li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/shop_single_product.html">Single Product</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/shop_checkout.html">Checkout</a></li>
                </ul>
              </li>
              <!--li.dropdown.navbar-cart-->
              <!--    a.dropdown-toggle(href='#', data-toggle='dropdown')-->
              <!--        span.icon-basket-->
              <!--        |-->
              <!--        span.cart-item-number 2-->
              <!--    ul.dropdown-menu.cart-list(role='menu')-->
              <!--        li-->
              <!--            .navbar-cart-item.clearfix-->
              <!--                .navbar-cart-img-->
              <!--                    a(href='#')-->
              <!--                        img(src='assets/images/shop/product-9.jpg', alt='')-->
              <!--                .navbar-cart-title-->
              <!--                    a(href='#') Short striped sweater-->
              <!--                    |-->
              <!--                    span.cart-amount 2 &times; $119.00-->
              <!--                    br-->
              <!--                    |-->
              <!--                    strong.cart-amount $238.00-->
              <!--        li-->
              <!--            .navbar-cart-item.clearfix-->
              <!--                .navbar-cart-img-->
              <!--                    a(href='#')-->
              <!--                        img(src='assets/images/shop/product-10.jpg', alt='')-->
              <!--                .navbar-cart-title-->
              <!--                    a(href='#') Colored jewel rings-->
              <!--                    |-->
              <!--                    span.cart-amount 2 &times; $119.00-->
              <!--                    br-->
              <!--                    |-->
              <!--                    strong.cart-amount $238.00-->
              <!--        li-->
              <!--            .clearfix-->
              <!--                .cart-sub-totle-->
              <!--                    strong Total: $476.00-->
              <!--        li-->
              <!--            .clearfix-->
              <!--                a.btn.btn-block.btn-round.btn-font-w(type='submit') Checkout-->
              <!--li.dropdown-->
              <!--    a.dropdown-toggle(href='#', data-toggle='dropdown') Search-->
              <!--    ul.dropdown-menu(role='menu')-->
              <!--        li-->
              <!--            .dropdown-search-->
              <!--                form(role='form')-->
              <!--                    input.form-control(type='text', placeholder='Search...')-->
              <!--                    |-->
              <!--                    button.search-btn(type='submit')-->
              <!--                        i.fa.fa-search-->
              <li class="dropdown"><a class="dropdown-toggle" href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/documentation.html" data-toggle="dropdown">Documentation</a>
                <ul class="dropdown-menu">
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/documentation.html#contact">Contact Form</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/documentation.html#reservation">Reservation Form</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/documentation.html#mailchimp">Mailchimp</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/documentation.html#gmap">Google Map</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/documentation.html#plugin">Plugins</a></li>
                  <li><a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/documentation.html#changelog">Changelog</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="main">
        <section class="module bg-dark-30" data-background="assets/images/section-4.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt mb-0">Login-Register</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row">

              <div class="col-sm-5">
                <h4 class="font-alt">회원가입</h4>
                <hr class="divider-w mb-10">
                <form class="form" action="/member/register" th:object="${memberFormDTO}" method="post">
                  <div class="form-group">
                    <input class="form-control" id="memMail" th:field="*{memMail}" oninput="checkEmail()" type="text" name="memMail" placeholder="이메일"
                     th:class="${#fields.hasErrors('memMail')}? 'form-control fieldError' : 'form-control'"/>
                    <p th:if="${#fields.hasErrors('memMail')}"
                       th:errors="*{memMail}">Incorrect data</p>

                  <span class="checkMessageF">이미 사용 중인 이메일 입니다.</span>
                  <span class="checkMessageT">사용 가능한 이메일 입니다.</span>
                  <span class="mailInfo">이메일 사용 가능 여부</span>
                  </div>
                  <style>
                    .checkMessageF {
                      color: red;
                      display: none;

                    }
                    .checkMessageT {
                      color: darkblue;
                      display: none;

                    }
                  </style>

                  <script>
                    function checkEmail() {
                      const memMail = $("#memMail").val();
                      //alert("중복확인~");
                      $.ajax({
                        url:'/memMailCheck',
                        type:'post',
                        data:{memMail:memMail}, //http 요청 바디에 담길 내용
                        //contentType:'application/json', //보내는 형식
                        success:function (data){ //컨트롤러에서 넘어온 값 받아서
                          //alert(data);
                          if(data == "T"){
                            $(".checkMessageT").css("display", "inline-block");
                            $(".checkMessageF").css("display", "none");
                            $(".mailInfo").css("display", "none");
                          }else{
                            $(".checkMessageF").css("display", "inline-block");
                            $(".checkMessageT").css("display", "none");
                            $(".mailInfo").css("display", "none");
                            alert("이메일을 다시 입력해주세요");
                            $('#memMail').val('');
                          }
                        },
                        error: function () {
                         alert("에러");
                        },

                      });
                    };
                  </script>


                  <div class="form-group">
                    <input class="form-control" id="memName" th:field="*{memName}" type="text" name="memName" placeholder="이름"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="memNickname" th:field="*{memNickname}" type="text" name="memNickname" placeholder="닉네임"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="memPwd" th:field="*{memPwd}" type="password" name="memPwd" placeholder="비밀번호"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="memPwdCheck" th:field="*{memPwdCheck}" oninput="pwdMatchingCheck()" type="password" name="memPwdCheck" placeholder="비밀번호확인"/>

                    <span class="pwd_wrong">비밀번호가 일치하지 않습니다.</span>
                    <span class="pwd_correct">비밀번호 일치</span>
                  </div>

                  <style>
                    .pwd_wrong {
                      color: red;
                      display: none;

                    }
                    .pwd_correct {
                      color: darkblue;
                      display: none;

                    }
                  </style>

                  <script type="text/javascript">

                    function pwdMatchingCheck() {
                      var pwd = document.getElementById('memPwd').value;
                      var pwdCheck = document.getElementById('memPwdCheck').value;

                      if(pwd != pwdCheck){
                        $(".pwd_wrong").css("display", "inline-block");
                        $(".pwd_correct").css("display", "none");
                      }else{
                        $(".pwd_correct").css("display", "inline-block");
                        $(".pwd_wrong").css("display", "none");
                      }
                    }

                    function pwdDoubleCheck() {
                      var pwd = document.getElementById('memPwd').value;
                      var pwdCheck = document.getElementById('memPwdCheck').value;
                      if(pwd != pwdCheck){
                        alert("비밀번호와 비밀번호확인이 일치하지 않습니다");
                        $('#memPwdCheck').val('');
                        event.preventDefault();

                      }
                    }

                  </script>


                  <div class="form-group">
                    <button class="btn btn-block btn-round btn-b" type="submit" onclick="pwdDoubleCheck()">가입하기</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">About Titan</h5>
                  <p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
                  <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10
                  <p>Email:<a href="#">somecompany@example.com</a></p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Recent Comments</h5>
                  <ul class="icon-list">
                    <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                    <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                    <li>Andy on <a href="#">Eco bag Mockup</a></li>
                    <li>Jack on <a href="#">Bottle Mockup</a></li>
                    <li>Mark on <a href="#">Our trip to the Alps</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Blog Categories</h5>
                  <ul class="icon-list">
                    <li><a href="#">Photography - 7</a></li>
                    <li><a href="#">Web Design - 3</a></li>
                    <li><a href="#">Illustration - 12</a></li>
                    <li><a href="#">Marketing - 1</a></li>
                    <li><a href="#">Wordpress - 16</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Popular Posts</h5>
                  <ul class="widget-posts">
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="#"><img src="/assets/images/rp-1.jpg" alt="Post Thumbnail"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                        <div class="widget-posts-meta">23 january</div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="#"><img src="/assets/images/rp-2.jpg" alt="Post Thumbnail"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                        <div class="widget-posts-meta">15 February</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2017&nbsp;<a href="../../../../../Users/user/Documents/카카오톡%20받은%20파일/titan-master/index.html">TitaN</a>, All Rights Reserved</p>
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--
        JavaScripts
        =============================================
        -->
    <script src="assets/lib/jquery/dist/jquery.js" th:src="@{/assets/lib/jquery/dist/jquery.js}"> </script>
    <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js" th:src="@{/assets/lib/bootstrap/dist/js/bootstrap.min.js}"> </script>
    <script src="assets/lib/wow/dist/wow.js" th:src="@{/assets/lib/wow/dist/wow.js}"> </script>
    <script src="assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js" th:src="@{/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js}"> </script>
    <script src="assets/lib/isotope/dist/isotope.pkgd.js" th:src="@{/assets/lib/isotope/dist/isotope.pkgd.js}"> </script>
    <script src="assets/lib/imagesloaded/imagesloaded.pkgd.js" th:src="@{/assets/lib/imagesloaded/imagesloaded.pkgd.js}"> </script>
    <script src="assets/lib/flexslider/jquery.flexslider.js" th:src="@{/assets/lib/flexslider/jquery.flexslider.js}"> </script>
    <script src="assets/lib/owl.carousel/dist/owl.carousel.min.js" th:src="@{/assets/lib/owl.carousel/dist/owl.carousel.min.js}"> </script>
    <script src="assets/lib/smoothscroll.js" th:src="@{/assets/lib/smoothscroll.js}"> </script>
    <script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js" th:src="@{/assets/lib/magnific-popup/dist/jquery.magnific-popup.js}"> </script>
    <script src="assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js" th:src="@{/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js}"> </script>
    <script src="assets/js/plugins.js" th:src="@{/assets/js/plugins.js}"> </script>
    <script src="assets/js/main.js" th:src="@{/assets/js/main.js}"> </script>
  </body>
</html>