<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 폼</title>
</head>

<style>
    .layout{
        width:500px;
        margin: auto;
        margin-top: 40px;
    }

    .layout input, p {
        width : 100%;
        box-sizing: border-box;
        margin-top: 10px;
    }



</style>


<body>
 <div class="layout">
     <form action="/member/registersuccess" method="post">
         <p>이름</p>
         <input name="memName" type="text">
         <p>비밀번호</p>
         <input name="memPwd" type="text">
         <p>이메일</p>
         <input name="memMail" type="text">
         <p>닉네임</p>
         <input name="memNickname" type="text">
         <button type="submit">작성</button>
     </form>
 </div>



</body>
</html>