<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layouts/layout"
        lang="ko">
<th:block layout:fragment="content">

        <section class="module">
          <div class="container">
            <div class="row">
              <div class="marketpost">
               <!-- <div class="col-sm-4 col-md-3 sidebar">-->
                <div class="widget">
                  <form role="form">
                    <div class="search-box">
                      <input class="form-control" type="text" placeholder="검색어를 입력하세요"/>
                      <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                  </form>
                </div>

              <!--@@@@@@@@@@@@@@@여기서 부터 코딩하면됩니다.@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
              <div class="col-sm-8 col-sm-offset-1">
                  <div class="post-thumbnail">
                    <a th:href="@{/market/write}"><img src="/assets/images/write.png" alt="글 쓰기 버튼"/>상품 등록하기</a></div>

                <div class="container">
                  <div>
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>#</th> <th>작성자</th> <th>가격</th> <th>글제목</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="post : ${posts}">
                        <td th:text="${post.id}"></td>
                        <td th:text="관리자"></td>
                        <td th:text="${post.itemPrice}"></td>
                        <td>
                          <a th:href="@{/market/detail/{post_id}(post_id=${post.id})}" th:text="${post.postTitle}" />
                        </td>
<!--pathvariable 넣는 방법-->
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div> <!-- /container -->



                <div class="pagination font-alt"><a href="#"><i class="fa fa-angle-left"></i></a><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#"><i class="fa fa-angle-right"></i></a></div>
              </div>
            </div>
          </div>
          </div>
        </section>

      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
</th:block>

<th:block layout:fragment="css">
<style>
   .marketpost{
     width:600px;
   }

</style>
</th:block>




</html>